@import "tailwindcss";

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 110s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

/* Custom Scrollbar for mega menu */
.custom-scrollbar::-webkit-scrollbar { width: 5px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(48,135,254,0.25); border-radius: 10px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: rgba(48,135,254,0.5); }
.custom-scrollbar { scrollbar-width: thin; scrollbar-color: rgba(48,135,254,0.25) transparent; }